version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/ha-stratum"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "javascript"
